#content
{
	margin: 40px auto;
	max-width: 1200px;
	line-height: 1.6;
	font-size: 18px;
	color: #444;
	padding: 0 20px;
}

.nav-tabs > li, .nav-pills > li
{
	float: none;
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.nav-tabs, .nav-pills
{
	text-align: center;
}

.slider-selection
{
	background: #428041;
}

.mainUI
{
	font-size: 14px;
	vertical-align: top;
	width: 50%;
	float: left;
	display: inline-block;
	min-width: 450px;
	padding: 15px;
}

.displayUI
{
	vertical-align: top;
	width: 49%;
	display: inline-block;
	min-width: 450px;
	padding: 15px;
	align-content: center;
}

.textbox
{
	width: 100%;
	text-align: center;
}

.alignleft
{
	float: left;
}

.aligncenter
{
	display: inline-block;
	margin: 0 auto;
}

.alignright
{
	float: right;
}

.vcomponent
{
	padding-top: 0.6em;
	padding-bottom: 1.2em;
}

.vtext
{
	padding-bottom: 0.1em;
}

.inline
{
	display: inline-block;
}

.form-control[disabled]
{
	cursor: not-allowed;
}

.btn-xhair
{
	width: 50%;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 1px;
	margin-right: 1px;
	min-width: 100px;
}

.btn-small
{
	font-size: 12px;
	margin: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 5px;
	padding-left: 5px;
}

.btn-med
{
	font-size: 14px;
}

#stream
{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}